*.iml
.gradle
local.properties
/build
/captures
.externalNativeBuild
.cxx
.kotlin
.DS_Store

.idea/*
!.idea/.gitignore
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/runConfigurations.xml
